<h1>請求書</h1>
<%= link_to "テンプレート作成", new_bill_path %>
<%= link_to "請求書作成", new_invoice_path %>
<%= link_to "戻る", root_path %>

<h2>請求書作成済みリスト</h2>
<div>期間指定<div>
<%# @invice.each do |invoice|%>
<%#= invoice.company_name %>
<%# end %>